@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: oklch(0 0 0);
  --foreground: oklch(0.985 0 0);
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans Variable", sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

